<form>
  Todo: <input type="text" ng-model="todo.name">
  <!--Priority: -->
  <select ng-model="todo.priority">
    <option ng-repeat="priority in main.priorities">{{priority}}</option>
  </select>

  <button ng-click="main.add(todo)">Add to list</button>
</form>

<br>

<p>Binding to the conroller</p>

<div ng-repeat="todo in main.todos">
  <div class="row hand">
    <div class="col-sm-10" ng-class="{done: todo.done}" ng-click="main.mark(todo)">
      {{todo.name}} {{todo.priority}}
    </div>
    <div class="col-sm-2 pull-right">
      <a ng-click="main.delete(todo)"><i class="fa fa-trash"></i></a>
    </div>
  </div>
</div>

